extends ../overview

block content
  p
  .container
    .row
        .col-md-7
          video(src="#{movie.flash}", controls="controls")
          .panel.panel-heading
          h3 评论区
          .panel-body
            ul.media-list
              each item in comments
                li.media
                  .pull-left
                    h4 #{item.from.name}
                    p #{item.content}
          form#commentForm(method="POST", action="/user/comment")
            param(name=" wmode"  value=" transparent")
            input(type="hidden", name="comment[movie]", value="#{movie._id}")
            if user
              input(type="hidden", name="comment[from]", value="#{user._id}")
              .form-group
                textarea.form-control(name="comment[content]", row="3")
                button.btn.btn-primary(type="submit") 提交
            else
                a.btn.btn-primary(href="#", data-toggle="modal", data-target="#signinModal") 登录后评论
          p(class="tesdddddddddddddd", style="margin-bottom:100px;")
        .col-md-4
          h3.btn.btn-default 相关电影推荐
          dl.dl-horizontal
            dt 电影名字
<<<<<<< HEAD
            dd= movie.title
            dt 导演
            dd= movie.doctor
            dt 国家
            dd= movie.country
            dt 语言
            dd= movie.language
            dt 简介
            dd= movie.summary
            dt 访问量
            dd= movie.pv
        .col-md-8
          .panel.panel-heading
          h3 评论区
          .panel-body
            ul.media-list
              each item in comments
                li.media
                  .pull-left
                    h4 #{item.from.name}
                    p #{item.content}
          form#commentForm(method="POST", action="/user/comment")
            param(name=" wmode"  value=" transparent")
            input(type="hidden", name="comment[movie]", value="#{movie._id}")
            if user
              input(type="hidden", name="comment[from]", value="#{user._id}")
              .form-group
                textarea.form-control(name="comment[content]", row="3")
                button.btn.btn-primary(type="submit") 提交
            else
                a.btn.btn-primary(href="#", data-toggle="modal", data-target="#signinModal") 登录后评论
          p(class="tesdddddddddddddd", style="margin-bottom:100px;")
        .col-md-4
          h3.btn.btn-default 相关电影推荐
          dl.dl-horizontal
            dt 电影名字
=======
>>>>>>> 1470225463e1ed3474d963ba9e72f6c092cfe2f4
            dd 导演
            dt 电影名字
            dd 导演
            dt 电影名字
            dd 导演
            dt 电影名字
            dd 导演
            dt 电影名字
            dd 导演
            dt 电影名字
            dd 导演